events {
    worker_connections 1024;
    use epoll;
    multi_accept on;
}

http {

upstream app_servers {
   
    {% for host in groups['nginx'] %}
    {% if host != inventory_hostname %}
    server {{ hostvars[host]['ansible_host'] }}:80 weight=1;
    {% endif %}
    {% endfor %}

}

server {

	listen 3000;

	server_name {{ ansible_host }};

		location / {

			proxy_pass http://app_servers;
                        proxy_set_header Host $host;
		}

	}
}
